<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wgcv.me.controlgarita" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Principal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Abrir"
            android:label="@string/title_activity_abrir" >
        </activity>
        <activity
            android:name=".Solicitudes"
            android:label="@string/title_activity_solicitudes" >
        </activity>
        <activity
            android:name=".Enviar"
            android:label="@string/title_activity_enviar" >
        </activity>
        <activity
            android:name=".Registrar"
            android:label="@string/title_activity_registrar" >
        </activity>
    </application>

</manifest>
